*~
*.a
*.annot
*.bak
*.class
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.diff
*.eml
*.hi
*.jar
*.la
*.lo
*.log
*.o
*.orig
*.pyc
*.rej
*.swp
*.trs

.deps
.dirstamp
dll*.so
.libs
Makefile
Makefile.in

/errnostring/errnostring.c
/errnostring/errnostring-gperf.c
/errnostring/errnostring-gperf.gperf
/errnostring/errnostring.h
/mlcustomize/.depend
/mlcustomize/test-firstboot-*.sh
/mldrivers/.depend
/mlgettext/.depend
/mlgettext/common_gettext.ml
/mlpcre/.depend
/mlpcre/pcre_tests
/mlprogress/.depend
/mlstdutils/.depend
/mlstdutils/bytes.ml
/mlstdutils/bytes.mli
/mlstdutils/guestfs_config.ml
/mlstdutils/oUnit-*
/mlstdutils/std_utils_tests
/mltools/.depend
/mltools/getopt_tests
/mltools/JSON_tests
/mltools/JSON_parser_tests
/mltools/machine_readable_tests
/mltools/tools_messages_tests
/mltools/tools_utils_tests
/mltools/oUnit-*
/mlutils/.depend
/mlutils/c_utils_unit_tests
/mlutils/oUnit-*
/mlv2v/.depend
/mlvisit/.depend
/mlvisit/visit_tests
/mlxml/.depend
/protocol/guestfs_protocol.c
/protocol/guestfs_protocol.h
/protocol/guestfs_protocol.x
/qemuopts/qemuopts-tests
